<div class="container">
  <div>
    <h1> Menu </h1>
  </div>
  <div>
    <%= link_to "Enviar Relatorio", new_report_path, class: "btn btn-gray" %>
    <%= link_to "Exibir Registros", items_path, class: "btn btn-gray" %>
  </div>
</div>