body {
  color: #5E6973;
  font-family: sans-serif;
}

h1 {
  font-size: 48px;
}

.container {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 30vh auto 0 auto;
  width: 40vw;
  min-height: 40vh;  
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.container-items {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 30vh auto 0 auto;
  width: 60vw;
  min-height: 40vh;  
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow-y: scroll;
  padding-bottom: 48px;  
}

th, td {
  border: 1px solid black;
}

th, td {
  padding: 15px;
}

.center {
  margin-left: 49vw;
  a {
    text-decoration: none;
    color: #5E6973;
    font-size: 20px;
  }
}