<%= simple_form_for(@report) do |f| %>

  <div class="form">
    <%= f.input :title %>
    <br>
    <%= f.input :file, as: :file %>
  </div>

  <div class="form">
    <%= f.button :submit, "Enviar Relatório", class: "btn btn-gray"%>
  </div>
  <% end %>